.skillset {
  background-color: $gray-bg;
  text-align: center;
  padding: 50px 15% 50px 15%;
  color: $gray-bg-header;
}
.skillset-row {
  display: flex;
  .skillset-column {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    img {
      height: 100px;
      margin-top: 30px;
    }
    h3 {
      margin-bottom: 30px;    }
    .skillset-body {
      p {
        color: $gray-bg-text;
      }
    }
  }
}

@media (max-width: 1000px) {
  .skillset {
    padding-left: 5%;
    padding-right: 5%;
  }
  .skillset-row {
    display: block;
  }
}
